/* Basic styles for the navigation bar */
.navbar {
  background-color: #333;
  overflow: hidden;
  text-align:center;

}

#centerButton {
  background-color: #333;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s; 
}
.navbar img{
margin-left:5px;
height:35px;
width:25px;
padding: 15px;
}

#centerButton:hover {
  background-color: #333;
}

/* Sidebar Styles */
.sidebar {
  width: 200px; /* Set the desired width of your sidebar */
height:700px;
  background-color: #fff; /* Set the background color */
  color: #333; /* Set the text color */
  padding: 20px; /* Add some padding to the sidebar */
  border: 1px solid #555;
  overflow:scroll;/*add scroll bar*/
}
body {
  transition: background-color 0.5s;
}

/* Add styles for light mode */
body.light-mode {
  background-color: #fff;
  color: #000;
}

/* Add styles for dark mode */
body.dark-mode {
  background-color: #000;
  color: #fff;
}

/* Style the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Button Styles */
.sidebar button {
  display: white; /* Make buttons a block element */
  width: 100%; /* Make buttons 100% width of the sidebar */
  padding: 10px 15px; /* Add padding to the buttons for spacing */
  background-color: #fff; /* Button background color */
  color: #000; /* Button text color */
  border: none; /* Remove button borders */
  margin-bottom: 10px; /* Add margin between buttons */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s; /* Add a smooth transition for background color */
}

/* Button Hover Effect */
.sidebar button:hover {
  background-color: #777; /* Change background color on hover */
}