{% extends "layout.html" %}
{% block content %}
<style>     .plus {
  border: solid;
  max-width: 80%;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Style for the file input */
#fileInput {
  display: none;
}

/* Style for displaying the selected file */
#selectedFile {
  margin-top: 10px;
  font-weight: bold;
}</style>
<div class="container mt-4">
    <h2>{{ assignment.title}}<small style="font-size: 50%;">     {{assignment.created_at}}</small> </h2>
    <hr style="color: black;
    background: black;">
    <h3></h3>
    <p>{{ assignment.description }}</p> 
    <p>Due Date: {{ assignment.due_date }}</p>
    
    {% if filename %}


    <p><b> Attachments</b></p>
    <br>
    
    <p><a href="{{ url_for('download_attachment', filename=assignment.file_attachment) }}"><img src="{{url_for('static', filename='profiles/' + 'document-img.jpg')}}" >{{ filename}}</a></p>
      {% if current_user.id == assignment.creator_id %}
      <a class="btn btn-primary"  href="{{ url_for('delete_assignment',assignment_id=assignment.id) }}"> Delete Assignment</a>
     
      {% else %}
      <div id="uploadassignment">
       <p>Upload your Work</p>
        <input type="file" id="fileInput">
        <button class="plus" onclick="openFileInput()">+</button>
        <p id="selectedFile"></p>
    
         
      </div>
      {% endif %}
    {% endif %} 

</div>
<script>
  function openFileInput() {
      document.getElementById("fileInput").click();
  }

  document.getElementById("fileInput").addEventListener("change", function() {
      const selectedFile = document.getElementById("fileInput").files[0];
      if (selectedFile) {
          document.getElementById("selectedFile").textContent = "Selected file: " + selectedFile.name;
          // You can do further processing with the selected file here
      }
  });
</script>
{% endblock %}
