{% extends "layout.html" %}
{% block content %}

<div class="classinfoo">
<div  >
    <div class="class-info-container">
        
        <div class="mini-navbar">
          <a href="#" class="class-nav tab1" >Stream</a>
          <a href="#" class="class-nav tab3">Classwork</a>
          <a href="#" class="class-nav tab2">people</a>
          
        </div><hr>  
        <div class="class-content tab-content tab1">
            {% if classinfo.creator_id == current_user.id %}
            <div class="bg">
                
                <div class="container" >
               <div id="classinfo">
                <h2><b>{{ classinfo.class_name }}</b></h2>
                <p> code: {{ classinfo.class_code }}</p>
                
                <p><img src="{{url_for('static', filename='participants.png')}}" style="border-radius: 30px;"> {{ participants}}</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        + Create
                    </button>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('add_assignment') }}">Assignment</a>
                        <button id="addQuizButton" class="dropdown-item" onclick="openPopup()">Quiz</button>

                       
                </div>
            </div>
            <!-- The pop-up container -->
            <div id="quizPopup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closePopup()">&times;</span>
                    <h2>Create Quiz</h2>
                    <button class="quiz-ai-btn" ><a href="{{ url_for('prompt_page')}}">Create with AI Prompt</a></button>
                    <button class="quiz-txt-btn"><a href="{{ url_for('file_content')}}">Add File <br><small>From file content</small></a></button>
                    <form method="POST" action="{{ url_for('add_livequiz', class_id=classinfo.id) }}" class="form-group">
                        <input type="hidden" name="class_id" value="{{ classinfo.id }}">
                   
                        <button type="submit" class="dropdown-item"> Custom Quiz</button>
                    </form>
                </div>
            </div>
                </div>
                </div>
                </div>
        
            {% else %}
            <div class="bg">
                <div class="container">
            <div id="classinfo">
                <h2><b>{{ classinfo.class_name }}</b></h2>
                <p> {{ classinfo.class_code }}</p>
                
             
                    <form action="{{url_for('exit_class',user_id=current_user.id, class_id=classinfo.id)}}">
                        <button class="btn btn-primary">Exit class</button>
                    </form>
                </div>
                    
                            
                          
                        </div>
                    </div>
                    </form>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
        <div class="class-content tab-content tab2">
            {% if participants %}
            <div>
                <p> Participants: {{ participants }}</p>
                <div class="participants">
                    <ul class="list-group list-group-flush">
                        {% for p in people %}
                            <li class="list-group-item"><img src="{{url_for('static', filename='profiles/participant.png')}}" style="border-radius: 30px;">{{ p.username }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="tab-content tab3">
            {% if classinfo.creator_id == current_user.id %}
                   
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Assignments</h3>
                    {% for assignment in assignments %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <a href="{{url_for('assignment_details',assignment_id=assignment.id)}}">{{ assignment.title}}</a>
                                <p class="card-text">{{assignment.description}} </p>
                                <p class="card-text"> Due : {{assignment.due_date }}</p>
                
                            
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <h3>Quizzes</h3>
                        <a href="{{ url_for('teacher_dashboard', class_id=classinfo.id) }}" class="btn btn-primary">Avgerage Result </a>

                        {% for quiz in quizzes %}
                                <div class="card mb-3">
                                    <div class="card-body">
                                      
                                        <a href="{{ url_for('quiz_details', quiz_id=quiz.id) }}" class="card-title">Quiz Title: {{quiz.title}}</a>
                                        <p class="card-text">code: {{quiz.quiz_code}}</p>
                                        <a href="{{ url_for('combine_results', quiz_id=quiz.id) }}" class="btn btn-primary">Results</a>
                                        <p class="card-text"> </p>
                                    </div>
                                </div>
                                {% endfor %}
                    </div>
                </div>
            </div>
            {%else%}
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-6">
                   
                        <h3>Assignments</h3>
                    {% for assignment in userassigns %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <a href="{{url_for('assignment_details',assignment_id=assignment.id)}}">{{ assignment.title}}</a>
                                <p class="card-text">{{assignment.description}} </p>
                                <p class="card-text"> Due : {{assignment.due_date }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                   
                    <div class="col-md-6">
                        <a href="{{ url_for('student_results', class_id=classinfo.id) }}" class="btn btn-primary">Average Score</a>
                        <h3>Quizzes</h3>
                        {% for quiz in quizzes %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <a href="{{ url_for('quiz_details', quiz_id=quiz.id) }}" class="card-title">{{ quiz.title }}</a>
                                <p class="card-text">code: {{ quiz.quiz_code }}</p>
                                
                              
                                <p class="card-text"> </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            {% endif %}
        </div>
      



<script>const tab1 = document.querySelector(".tab1");
    const tab2 = document.querySelector(".tab2");
    const tab3 = document.querySelector(".tab3"); // Reference to the new tab
    const tabContent1 = document.querySelector(".tab-content.tab1");
    const tabContent2 = document.querySelector(".tab-content.tab2");
    const tabContent3 = document.querySelector(".tab-content.tab3"); // Reference to the new tab's content
    
    function handleTabClick(tab, tabContent) {
        document.querySelectorAll(".tab-content").forEach((element) => {
            element.style.display = "none";
        });
    
        document.querySelectorAll(".class-nav").forEach((navLink) => {
            navLink.classList.remove("active");
        });
    
        tabContent.style.display = "block";
        tab.classList.add("active");
    }
    
    tab1.addEventListener("click", (e) => {
        e.preventDefault();
        handleTabClick(tab1, tabContent1);
    });
    
    tab2.addEventListener("click", (e) => {
        e.preventDefault();
        handleTabClick(tab2, tabContent2);
    });
    
    tab3.addEventListener("click", (e) => {
        e.preventDefault();
        handleTabClick(tab3, tabContent3);
    });
    
    handleTabClick(tab1, tabContent1); // Initialize with the first tab as active
    
    function openPopup() {
    document.getElementById("quizPopup").style.display = "block";
}

function closePopup() {
    document.getElementById("quizPopup").style.display = "none";
}



  </script>
{% endblock %}
