{% extends "layout.html" %}
{% block content %}

{% if current_user.role == 'teacher' %}
<form method="POST" enctype="multipart/form-data">
<div class="bg">
    <div class="container">
    <h2><b>{{ classinfo.class_name }}</b></h2>
    <p> {{ classinfo.class_code }}</p>
    <div class="dropdown">
       
        
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add
        </button>
        <form action="#" method="post">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('add_assignment') }}">Assignment</a>
    </div>
    </div>
    </div>
    </div>
       
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h3>Assignments</h3>
        {% for assignment in assignments %}
            <div class="card mb-3">
                <div class="card-body">
                    <a href="{{url_for('assignment_details',assignment_id=assignment.id)}}">{{ assignment.title}}</a>
                    <p class="card-text">{{assignment.description}} </p>
                    <p class="card-text"> Due : {{assignment.due_date }}</p>
    
                
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="col-md-6">
            <h3>Quizzes</h3>
            
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">quiz.title </h5>
                    <p class="card-text">quiz.description </p>
                    <p class="card-text">Due Date: quiz.due_date </p>
                </div>
            </div>
           
        </div>
    </div>
</div>

{% endif %}
{% if current_user.role == 'student' %}
<div class="bg">
    <div class="container">
    <h2><b>{{ classinfo.class_name }}</b></h2>
    <p> {{ classinfo.class_code }}</p>
    <div class="dropdown">
       
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <h3>Assignments</h3>
                {% for assignment in userassigns %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="{{url_for('assignment_details',assignment_id=assignment.id)}}">{{ assignment.title}}</a>
                            <p class="card-text">{{assignment.description}} </p>
                            <p class="card-text"> Due : {{assignment.due_date }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="col-md-6">
                    <h3>Quizzes</h3>
                    
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">quiz.title </h5>
                            <p class="card-text">quiz.description </p>
                            <p class="card-text">Due Date: quiz.due_date </p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        </form>
        {% endif %}
{% endblock %}
