{% extends "layout.html" %}
{% block content %}
<head>
    <title>{{ quiz_title }}</title>
   
    <style> 
    .editable {
        border: 1px solid #ccc;
        margin: 5px;
        padding: 5px;
    }
    .add-question-btn, .add-option-btn, .delete-question-btn, .delete-option-btn {
        margin: 10px;
    }
    </style>
</head>
<body>
    <h1>{{ quiz_title }}</h1>
    <form method="post" action="{{ url_for('save_generated_quiz') }}" id="quiz-form">
        
        <input type="hidden" name="quiz_title" value="{{ quiz_title }}">
        <input type="hidden" name="prompt" value="{{ prompt }}">
        
        {% for i in range(questions|length) %}
            <input type="hidden" name="questions[]" value="{{ questions[i] }}">
            {% for option in options[i] %}
                <input type="hidden" name="options_{{ i }}[]" value="{{ option }}">
            {% endfor %}
            <input type="hidden" name="correct_options[]" value="{{ correct_options[i] }}">
            
            <div class="editable">
                <p>{{ questions[i] }}</p>
                <ul>
                    {% for option in options[i] %}
                        <li>{{ option }}</li>
                    {% endfor %}
                </ul>
                <p>Correct Option: {{ correct_options[i] }}</p>
            </div>
        {% endfor %}
        <Label>Timer:</Label>
        <input type="text" name="quiz_timer" >
        <button type="submit" class="btn btn-primary">Proceed</button>
    </form>
</body>
{% endblock %}
