{% extends "layout.html" %}

{% block content %}

{% if user.role == 'teacher' %}
<form method="post" action="{{ url_for('add_class') }}">
    <button type="submit" class="btn btn-primary">Create Class</button>
 
</form>
<form method="post" action="{{ url_for('add_quiz') }}">
    <button type="submit" class="btn btn-primary">Add Quiz</button>
</form>   
{% endif %}
{% if user.role == 'student' %}
<form method="POST" action="{{ url_for('join_class') }}">
    <button type="submit" class="btn btn-primary">Join Class</button>
</form>

{% endif %}


    {% for classs in classes %}

        <div class="container mt-4">
            <div class="col-md-4">
                <div class="d-flex flex-row flex-nowrap">
                    <div class="card">
                        <div class="card-body">

                            <tr>
                                <td>
                                  <h4 style="display: inline-block;"><a href="{{ url_for('class_info', classid=classs.id) }}" style="color: black;">{{ classs.class_name }}</a></h4>
                                </td>
                                <td>
                                  <div class="dropdown" style="display: inline-block;">
                                    <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black; background-color: white;" >
                                        &vellip; <!-- Three dots entity -->
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="{{ url_for('class_info', classid=classs.id) }}">View Details</a>
                                      <a class="dropdown-item delete-class" data-classid="{{ classs.id }}" href="#">Delete</a>
                                      <!-- Add more options as needed -->
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              







                            <p class="card-text">{{ classs.class_code }} </p>
                            <a href="#" class="btn btn-primary">Go to Class</a>
                        </div>
                        <div class="card-footer text-muted">
                            powered by ASP.co
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

   

{% endblock %}