{% extends "layout.html"%}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
</head>
<body>
  <h1>{{ quiz.title }}</h1>
  <p>Timer: {{ quiz.timer }} seconds</p>
  <p>Question {{ session['current_question'] + 1 }} of {{ quiz.question|length }}</p>
  <p>{{ question.text }}</p>
  <form method="POST">
    <input type="radio" name="answer" value="{{ options.option1 }}" required> {{ options.option1 }}<br>
    <input type="radio" name="answer" value="{{ options.option2 }}"> {{ options.option2 }}<br>
    <input type="radio" name="answer" value="{{ options.option3 }}"> {{ options.option3 }}<br>
    <input type="radio" name="answer" value="{{ options.option4 }}"> {{ options.option4 }}<br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>


{% endblock content %}