
{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Quiz App</title>
    <style>
        /* Center the classinfo div horizontally and vertically */
        #classinfo {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0%;
            left: 40%;
            height: 70vh;
            width: 85vh; /* Set the height to the viewport height for vertical centering */
        }
       
    </style>
</head>
<body>

    <div class="content-section" id="classinfo">
        <h1 style="text-align: center;">Quiz: {{ quiz.title }}</h1>
        <p>Timer: <span id="timer">{{ quiz.timer }}</span> seconds</p>

        <b><p id="remaining-time"></p></b>
        <div id="timer-bar">
            <div id="progress-bar"></div>
        </div><br>

        <b><h1 style="text-align: center;">Question {{ session['current_question'] + 1 }} of {{ quiz.questions|length }}</h1>
            <h1 style="text-align: center;">Q.{{ session['current_question'] + 1 }}  {{question.text }}</h1>

        </b>
        <form method="POST" id="quiz-form">
            <center>
            {% for option in l1 %}
                <button type="button" class="btn btn-primary answer-button" data-answer="{{ option }}" onclick="selectAnswer('{{ option }}')">{{ option }}</button>
            {% endfor %}
            </center>

            <input type="hidden" name="selected_answer" id="selected-answer-input">
        </form>
        
        <p id="selected-answer"></p>
        
        
    </div>
    {% block javascript %}
<script>
    const answerButtons = document.querySelectorAll('.answer-button');
    const selectedAnswerElement = document.getElementById('selected-answer');

    function selectAnswer(answer) {
        const selectedAnswerInput = document.getElementById('selected-answer-input');
        selectedAnswerInput.value = answer;
    }

    answerButtons.forEach(button => {
        button.addEventListener('click', function () {
            const selectedAnswer = this.getAttribute('data-answer');
            selectedAnswerElement.textContent = `Selected Answer: ${selectedAnswer}`;
        });
    });


    // Countdown timer
    let timeLeft = JSON.parse('{{ timer }}');
    const timerElement = document.getElementById("timer");
    const quizForm = document.getElementById("quiz-form");

    function updateTimer() {
        timerElement.textContent = timeLeft;
        if (timeLeft <= 0) {
            // Time's up, automatically submit the form
            quizForm.submit();
        } else {
            // Decrement the timer and update every second
            timeLeft--;
            setTimeout(updateTimer, 1000);
        }
    }

    // Start the timer when the page loads
    updateTimer();
</script>
{% endblock %}
</body>
</html>

{% endblock content %}

