{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <h2>{{ quiz.title }}</h2>
    <div id="quiz-container">
        <!-- The current question will be displayed here -->
   
    <form id="quiz-form" method="POST" action="{{ url_for('submit_quiz', quiz_id=quiz.id) }}" >
        <div class="question" id="question-{{ questions[0].id }}">
            {% for question in questions %}
            <p>Q..{{ question.text }}</p>
            {% for option in question.options %}
            <label>
                <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}">
                {{ option.option1 }}
                <br>
                <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}">
                {{ option.option2 }}
                <br>
                <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}">
                {{ option.option3 }}
                <br>
                <input type="radio" name="question_{{ questions.id }}" value="{{ option.id }}">
                {{ option.option4 }}
                <br>
            </label><br>
            {% endfor %}
            {% endfor %}
        </div>
        <button type="button" id="next-button">Next</button>
        <button type="submit" id="submit-button" style="display: none;">Submit</button>
    </form>
</div> 

<script>
    const quizContainer = document.getElementById('quiz-container');
    const quizForm = document.getElementById('quiz-form');
    const questions = document.querySelectorAll('.question');
    const nextButton = document.getElementById('next-button');
    const submitButton = document.getElementById('submit-button');
    let currentQuestionIndex = 0;

    function showNextQuestion() {
        if (currentQuestionIndex < questions.length) {
            questions[currentQuestionIndex].style.display = 'none';
            currentQuestionIndex++;
            if (currentQuestionIndex < questions.length) {
                questions[currentQuestionIndex].style.display = 'block';
            } else {
                submitButton.style.display = 'block';
                nextButton.style.display = 'none';
            }
        }
    }

    nextButton.addEventListener('click', showNextQuestion);

    // Start the quiz by showing the first question
    questions[0].style.display = 'block';
    nextButton.style.display = 'block';
</script>
{% endblock %}
