{% extends "layout.html" %}
{% block content %}
<div class="content-section">
<div class="container mt-4">
    <h3 style=" text-align: center;">{{ quiz.title }}</h3>
    <hr>
    <br>

      Total no of questions:{{ total_questions }}
      {% if current_user.id == livequiz.creator_id %}
      <a class="btn btn-primary"  href="{{ url_for('start_live_quiz',quiz_id=quiz.id) }}"> Start Quiz </a>
      <a class="btn btn-primary"  href="{{ url_for('delete_quiz',quiz_id=quiz.id) }}"> Delete quiz </a>


      {% endif %}
      
</div>
</div>
{% endblock %}
