{% extends "layout.html" %}
{% block content %}

<style>  

</style>
    
   
<div class="quiz-room">
    <h1>{{ quiztitle }} - <p name="quiz_code" style="display: inline;">{{ livequiz.quiz_code }}</p></h1>

    
    <img src="{{url_for('static', filename='participants.png')}}" style="border-radius: 30px;">
<div id="participant_count"><h4 >{{participants}}</h4></div>

  

{% if livequiz.creator_id == current_user.id %}
<form method="post" action="{{ url_for('running_quiz', quiz_code= livequiz.quiz_code) }}" >
    <!-- <input type="text" name="quiz_code" value="{{ quiquiz_code }}" style="display: none;"> -->
    <button type="submit" class="btn btn-primary">Start Quiz</button>
</form>

{% endif %}
<a href="{{url_for('exit_quiz')}}" class="btn btn-primary" id="exitquiz">EXIT</a> <br>
<small>refresh to see updated content</small>
</div>

<div >
    
    <fieldset class="participants" id="participantsFieldset"> 
        

    </fieldset>
     
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
   const socket2 = io({autoconnect: false}); 
   
  document.addEventListener('DOMContentLoaded', function() {
    socket2.connect(); 
     
  });
  socket2.on('quiz_joined', function(data) {
    
    const participantsFieldset = document.getElementById('participantsFieldset');
    const participantContainer = document.createElement('div');
    participantContainer.classList.add('participant-container');

    const participantImage = document.createElement('img');
    participantImage.classList.add('participant-image');
    participantImage.src = '../static/profiles/participant.png';
    
 
    participantImage.alt = 'Participant Image';


    const participantName = document.createElement('div');
    participantName.classList.add('participant-name');
    participantName.textContent = data['username'];

    participantContainer.appendChild(participantImage);
    participantContainer.appendChild(participantName);

    participantsFieldset.appendChild(participantContainer);
    // document.getElementById('participant_count').innerText = 
    var pvalue = parseInt(document.getElementById('participant_count').innerText, 10);
    pvalue = data.participant_count + 1;

    document.getElementById('participant_count').innerText = pvalue;

});
socket2.on('quiz_started', function(data) {
    const quiz_code = data['quiz_code'];
    const quizUrl = window.location.origin + '/running_quiz/' + quiz_code;
    window.location.href = quizUrl;
});
</script>

<fieldset class="participants"> 
    {% for student in students_in_quiz %}
<div class="participant-container">
    <img class="participant-image" src="{{image_file}}" alt="Participant Image">
    <div class="participant-name">{{ student['username'] }}</div>
</div>

{% endfor %}

</fieldset>



{% endblock content %}
