{% extends "layout.html" %}
{% block content %} 

<div class="overlay" id="overlay" onclick="closeModal()"></div>

<div class="centered-card" id="startquizModal">
    <h5 class="card-title">Start Your Quiz</h5>
    <p class="card-text">Click the "Start Now" button to begin the quiz immediately or "Later" to schedule it for later.</p>
    <button type="button" class="btn btn-primary" id="startNowButton" onclick="startNow()"><a href="{{url_for('start_live_quiz', quiz_id=quiz_id)}}"  style="color: aliceblue;"target="_blank">Start Now</a></button>
    <button type="button" class="btn btn-secondary" id="startLaterButton" onclick="later()"><a href="{{url_for('home')}}" style="color: aliceblue;">Later</a></button>
</div> 

<script>
    // Function to open the modal and overlay
    function openModal() {
        document.getElementById("overlay").style.display = "block";
        document.getElementById("startquizModal").style.display = "block";
    }
    
    // Function to close the modal and overlay
    function closeModal() {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("startquizModal").style.display = "none";
    }

    // Function to handle "Start Now" button click
    function startNow() {
        closeModal(); // Close the modal and overlay
    }

    // Function to handle "Later" button click
    function later() {
        closeModal(); // Close the modal and overlay
        // You can add additional logic here if needed
    }

    // Automatically open the modal when the page loads
    window.addEventListener("load", openModal);
</script>

{% endblock content %}
